h1 {
    color: rgb(255, 166, 0);
}

img {
    width: 50%;
    position: relative;
}

section {
    display: flex;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: line;
}

img + button {
    border: none;
    background: none;
}